
  <div>
    <p>Multiple students</p>
    <!-- <% @students.each do |student| %> -->
    <!-- <div><%= @student.to_s %></div> -->
    <p><%= @students.first_name @students.last_name %></p>
    <p><%= @students.first_name @students.last_name %></p>
    <!-- <% end %> -->
 </div>
